

.instructions {
    text-align: center;
    font-family: Helvetica;
}

.go {
    text-align: center;
}

.go button {
    font-size: 30px;
    padding: 10px;
    background-color: silver;
    box-shadow: 10px 10px 5px #888888;
}


.presentTenseVerb {
    text-align: center;
    font-size: 44px;
    color: #1abc9c;;
    margin-top: 10%;
}


.header {
    margin-top: 10%;
    text-align: center;
}

.header input {
    padding: 10px;
    font-size: 16px;
    background-color: aliceblue;
    border: 2px solid #000;
    box-shadow: 10px 10px 5px #888888;
}

.header button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    background-color: darkgray;
    box-shadow: 10px 10px 5px #888888;
}

.score {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}