.yellow-box
{
    width: 75%;
    background-color: #ffffa2;
    margin-left: 10%;
    padding-bottom: 12%;
    padding-top: 2%;
}

.game-title
{
    color: blue;
    font-size: 50px;
    text-align: center;
    font: bold;
}

#start-button, #restart-button
{
    /*width: 30%;
    height: 70px;
    margin-left: 35%;
    margin-top: 5%;
    font-size: 32px;*/
    background-color: lightpink;
}

.show-text
{
    text-align: center;
    font-size: 32px;
}

form
{
    text-align: center;
}

#submit-button
{
    /*width: 30%;
    height: 70px;
    font-size: 32px;*/
    background-color: lightpink;
}

body {
	background-color: lavender;
	background-image: url("../images/bg.png");
	padding-bottom: 0;
}

h1, h4{
	font-family: 'Josefin Sans', sans-serif;
}

footer {
	/*position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;*/
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
    color: #777;
    border-top: .05rem solid #e5e5e5;
}

.jumbotron {
	background-color: rgba(231,199,239,.7);
}

/*CSS for Lessons Pages*/
hr {
	border-top: 1px solid rgba(227,227,227,1);
    margin-top: -10px;
    margin-bottom: 25px;
}

a {
	color: rgba(46,204,113,1);
}
.content {
	margin-top: 20px;
}

.glyphicon {
	margin-right:10px;
}

.panel-default>.panel-heading {
	background-color: rgba(231,199,239,1);
}

.panel-title>a {
    color: rgba(52,73,94,1);
}

.whiteBox {
    background-color: rgba(255,255,255,.7);
    padding: 10px 0px;
    border-radius: 5px;
}

a:hover, a:focus {
    color: rgba(46,204,113,1);
    text-decoration: none;
}